.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/Numpy-Tutorial-SciPyConf-2019.iml
.idea/other.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/codeStyles/codeStyleConfig.xml
